name: Zap

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


env:
  PUB_ENVIRONMENT: bot.github

jobs:
  get_dependencies:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
      - uses: ./.github/actions/cache_pub
      - name: Get dependencies
        run: dart run tools/bin/pub_get.dart
  zap:
    runs-on: ubuntu-latest
    needs: [get_dependencies]
    defaults:
      run:
        working-directory: zap

    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
      - uses: ./.github/actions/cache_pub

      - run: dart pub get --offline

      - name: Ensure formatted
        run: dart format -o none --set-exit-if-changed .

      - name: Run build
        run: dart run build_runner build --verbose

      - name: Static analysis
        run: dart analyze --fatal-infos --fatal-warnings

      - name: Test
        run: dart run build_runner test

  riverpod_zap:
    runs-on: ubuntu-latest
    needs: [get_dependencies]
    defaults:
      run:
        working-directory: riverpod_zap

    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
      - uses: ./.github/actions/cache_pub

      - run: dart pub get --offline
        working-directory: riverpod_zap
      - run: dart pub get --offline
        working-directory: riverpod_zap/example

      - name: Ensure formatted
        run: dart format -o none --set-exit-if-changed .

      - name: Run build in example
        working-directory: riverpod_zap/example
        run: dart pub run build_runner build

      - name: Static analysis
        run: dart analyze --fatal-infos --fatal-warnings

#      - name: Test
#        run: dart run build_runner test

  zap_dev:
    runs-on: ubuntu-latest
    needs: [get_dependencies]
    defaults:
      run:
        working-directory: zap_dev

    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
      - uses: ./.github/actions/cache_pub

      - run: dart pub get --offline

      - name: Ensure formatted
        run: dart format -o none --set-exit-if-changed .

      - name: Static analysis
        run: dart analyze --fatal-infos --fatal-warnings

      - name: Test
        run: dart run build_runner test
